
.generalButton {
    padding: 0.5rem 2.0rem;
    border-radius: 9999px;
    height: 2rem;
    transition: background-color 0.2s;
    align-items: center;
    display: flex;
    font-size: 0.7rem;
  }


.primary-static { background-color: #3AF8CD; }
.primary-hover:hover { background-color: #83FFE3; }
.primary-click:active { background-color: #B9FFEF; }

.outlined-static { background-color: #29282E; }
.outlined-hover:hover { background-color: #29282E; }
.outlined-click:active { background-color: #38363E; }